.question {
  height: 130px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fefefe;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: filter .2s;

  p {
    display: block;
    width: 100%;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-question {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        font-size: 14px;
        margin-left: 10px;
        color: #74747c;
      }
    }

    .like {
      display: flex;
      justify-content: center;
      align-items: baseline;
      position: relative;

      span {
        position: absolute;
        bottom: -2px;
        left: -26px;
        color: #74747c;
      }

      svg {
        cursor: pointer;
      }

      &.liked {
        svg path {
          stroke: #835afd;
        }
      }

    }

    .adm-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}

.answered {
  filter: brightness(0.8);

  > div {
    .liked {
      display: none;
    }
  }

  .adm-icons {
    .check-icon,
    .highlighted-icon {
      display: none;
    }
  }
}

.highlighted {
  filter: brightness(0.95);
  border: 1px solid #835afd;
}
